<table class='table table-striped'>
  <% @videos.videos.each do |video| %>
    <tr>
      <td class='thumb-draggable'>
        <p><%= image_tag(video.thumbnails[1].url) %></p>
        <p><%= video.title %></p>
        <p class='embed_html' style='display:none;'><%= video.embed_html5 %></p>
      </td>
    </tr>
  <% end %>
</table>

