<table class='table table-striped'>
  <% @videos.videos.each do |video| %>
    <tr>
      <td>
        <p><%= image_tag(video.thumbnails[1].url) %></p>
        <p><%= video.title %></p>
      </td>
    </tr>
  <% end %>
</table>

