<div class='row-fluid'>
  <div class='span2 search-column'>
    <div id='video-search'>
      <%= form_tag '/welcome/search', id: 'query-form' do %>
        <%= text_field_tag 'query', nil, placeholder: 'Search YouTube', class: 'input-medium' %>
        <%= submit_tag 'Go', id: 'submit-query', class: 'btn' %>
      <% end %>
    </div>

    <div id='video-list'>
    </div>
  </div>

  <div class='span5 deck1' id='deck1-droppable'>
    <div class='hero-unit'>
      <p>Deck 1</p>
    </div>
  </div>

  <div class='span5 deck2' id='deck2-droppable'>
    <div class='hero-unit'>
      <p>Deck 2</p>
    </div>
  </div>
</div>

