<div class='row-fluid'>
  <div class='span2 search-column'>
    <div id='video-search'>
      <%= form_tag '/welcome/search', id: 'query-form' do %>
        <%= text_field_tag 'query', nil, placeholder: 'Search YouTube', class: 'input-medium' %>
        <%= submit_tag 'Search', id: 'submit-query', class: 'btn' %>
      <% end %>
    </div>

    <div id='video-list'>
    </div>
  </div>

  <div class='span5 deck1' id='deck1-droppable'>
    <div class='hero-unit'>
      <p>Deck 1</p>
    </div>
  </div>

  <div class='span5 deck2' id='deck2-droppable'>
    <div class='hero-unit'>
      <p>Deck 2</p>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#query-form').submit(function(event) {
    
    // Stop form from submitting normally
    event.preventDefault();

    // Get some values from elements on the page:
    var $form = $( this ),
      term = $form.find( "input[name='query']" ).val(),
      url = $form.attr( "action" );
   
    // Send the data using post
    var posting = $.ajax({
      type: 'POST',
      url: url,
      data: {query: term}, 
      dataType: 'script'
    }).done(function() {
      initDragDrop();
    });
    
  });

  function initDragDrop() {
    $('.thumb-draggable').draggable({
      containment: 'html',
      helper: 'clone'
    });
    $('#deck1-droppable').droppable({
      drop: function(event, ui) {
        setDeck($(this), ui);
      }
    });
    $('#deck2-droppable').droppable({
      drop: function(event, ui) {
        setDeck($(this), ui);
      }
    });
  }

  function setDeck(dropArea, ui) {
    var draggableVideo = ui.draggable;
    dropArea.html(draggableVideo.children('.embed_html').text());
  }

});
</script>

